---
layout: default
Title: Home
---

<br />


<header class="major">
	<h1>Latest Post</h1>
<script>
    var myDate = new Date();
    var currentHour = myDate.getHours();

    var msg;

    if (currentHour < 5)
        msg = "Hello Night owl, welcome back to Kōan Trading";
    else if(currentHour >= 5 && currentHour < 12)
	msg = "Good morning, welcome back to Kōan Trading";
    else if(currentHour == 12)
	msg = "welcome back to Kōan Trading, did you remember to eat lunch?" ;
    else if (currentHour >= 12 && currentHour <= 17)
        msg = "Good Afternoon, welcome back to Kōan Trading";
    else if (currentHour >= 17 && currentHour < 24)
        msg = "Good Evening, welcome back to Kōan Trading";
			    else if(currentHour == 24)
				msg = "welcome back to Kōan Trading, don't forget to get some sleep";

    document.getElementById('greeting').innerHTML =
         msg;

</script>
<p id="greeting"></p>
</header>

<!--
<header class="major">
	<h1>Latest Post</h1>

	<p>Welcome back to Kōan Trading</p>
	<a href="{{post.url}}" style="text-decoration: none;" border-bottom: >Test</a>
</header>-->



<div class = "row">
  <div class="6u 12u$(small)">

		<p> {% for post in site.posts limit:1 %}
		<span class="image fit"><a href="{{post.url  }}" style="text-decoration: none;"><img src="{{ post.thumbnail | absolute_url}}" style="width: 100%; max-height: 100%" alt="{{ post.alt }}"/></a></span>
		{% endfor %}</p>
	</div>
	<div class="6u 12u$(small)">
	{% for post in site.posts limit:1 %}
		<a href="{{post.url}}" style="text-decoration: none; bottom-border: none;"><header class ="major">
			<h2>{{ post.title}}</h2>
			<p>{{ post.date | date_to_string }} - {{ post.categories }}</p>
			</header>
			{{ post.excerpt | strip_html | strip_newlines | truncate: 300 }} <br />
			<br /><a/>

			<ul class="actions">
				<li><a href="{{ post.url }}" class="button special">Read The Latest Post</a></li>
			</ul>
	{% endfor %}
	</div>

<section>

<hr class="major" />
<!-- Section -->
<section>
	<header class="major">
		<h2>Recent Posts</h2>
	</header>
	<div class="posts">

		{% for post in site.posts offset:1 limit: 6 %}
			<article>
			<span class="image fit"><a href="{{post.url}}" style="text-decoration: none;"><img src="{{ post.thumbnail }}" style="width: 100%; max-height: 100%" alt="{{ post.alt }}"/></span>
				<header class = "major">
					<h2>{{ post.title}}</h2>
					<p>{{ post.date | date_to_string }} - {{ post.categories }}</p>
					</header>
				{{ post.excerpt | strip_html | strip_newlines | truncate: 150 }} <br/>
<br/>
				<ul class="actions">
					<li><a href="{{ post.url }}" class="button special">Read Now</a></li>
				</ul>
			</article>
		{% endfor %}


	</div>
</section>
