<!-- Banner -->
<!--  <section id="banner">
    <div class="content">
    <!--  <header>
        <h1>Welcome to Koan Trading<br />
        </h1>
        <p>Personal trading and development blog</p>
      </header>
      <p>Koan Trading is a personal trading and development blog. Here, I will be market analysis, trades and trade review, developmental objectivse and progress, educational information, and more. Thanks for taking some time out of your day, I hope you are able to find some value.</p>
      <ul class="actions">
        <li><a href="#" class="button big">Latest Post</a></li>
      </ul>
    </div>
  <!--  <span class="image object">
      <img src="assets/images/pic10.jpg" alt="" />
    </span>-->
  </section>
