<head>
  <title>Kōan Trading - Orderflow, Market Profile, and Technical Analysis</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
  <meta http-equiv="content-language" content="en-us">
  <!--[if lte IE 8]><script src="{{ 'assets/js/ie/html5shiv.js' | relative_url }}"></script><![endif]-->
  <link rel="stylesheet" href="{{ 'assets/css/main.css' | relative_url }}" />
  <link rel="shortcut icon" type="image/x-icon" href="{{site.url}}/assets/images/favicon.ico">
  <meta property="og:type" content="website">
  <meta property="og:image" content="https://www.koan-trading.com/assets/images/pic10.jpg">
  <!--<link rel="canonical" href="{{ page.url | prepend: site.url }}">-->
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;1,400;1,600&display=swap" rel="stylesheet">
  <link rel="canonical" href="https://www.koan-trading.com">
  <!--[if lte IE 9]><link rel="stylesheet" href="{{ 'assets/css/ie9.css' | relative_url }}" /><![endif]-->
  <!--[if lte IE 8]><link rel="stylesheet" href="{{ 'assets/css/ie8.css' | relative_url }}" /><![endif]-->
  <script src="https://cdn.jsdelivr.net/npm/ga-lite@1/dist/ga-lite.min.js" async></script>
      <script>
      var galite = galite || {};
      galite.UA = 'UA-162309611-1'; // Insert your tracking code here
      </script>

{% seo %}
</head>
